<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>表单输入绑定</title>
  </head>
  <body>
    <div id="app">
      <form action="/xxx" @submit.prevent="submit">
        <span>用户名: </span>
        <input type="text" v-model="user.username" /><br />

        <span>密码: </span>
        <input type="password" v-model="user.password" /><br />

        <span>性别: </span>
        <input type="radio" id="female" v-model="user.sex" value="女" />
        <label for="female">女</label>
        <input type="radio" id="male" v-model="user.sex" value="男" />
        <label for="male">男</label><br />

        <span>爱好: </span>
        <input
          type="checkbox"
          id="basket"
          v-model="user.hobby"
          value="basket"
        />
        <label for="basket">吃饭</label>
        <input type="checkbox" id="foot" v-model="user.hobby" value="foot" />
        <label for="foot">睡觉</label>
        <input
          type="checkbox"
          id="pingpang"
          v-model="user.hobby"
          value="pingpang"
        />
        <label for="pingpang">打豆豆</label><br />

        <span>城市: </span>
        <select v-model="user.cityId">
          <option value="">未选择</option>
          <option :value="city.id" v-for="(city) in cities" :key="city.id">
            {{city.name}}
          </option>
        </select>
        <br />
        <span>介绍: </span>
        <textarea rows="10" v-model="user.info"></textarea><br /><br />

        <input type="submit" value="注册" />
      </form>
    </div>

    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript">
      new Vue({
        data: {
          user: {
            username: "",
            password: "",
            sex: "女",
            hobby: ["basket"],
            cityId: "",
            info: "",
          },
          cities: [
            { id: 1, name: "杭州" },
            { id: 2, name: "重庆" },
            { id: 3, name: "上海" },
          ],
        },
        methods: {
          submit() {
            console.log(this);
            console.log(this.user);
          },
        },
      }).$mount("#app");
    </script>
  </body>
</html>
